.infoBlock {
  margin-bottom: 30px;
  border-radius: 20px;
  color: #0c558b;
}
.infoBlockItem {
  text-align: center;
  padding: 5px 10px;
  border: 1px solid rgba(14, 116, 192, 0.2);
  height: 100%;
  border-radius: 25px;
  background-color: #0088ca;
  color: white;
  &_uptime {
    background-color: white;
    box-shadow: 0px 0px 20px 5px rgba(14, 116, 192, 0.2);
    color: black;
  }
  &_tonBridges,
  &_governance,
  &_lastBlock,
  &_transactionStats {
    background-color: rgba(82, 161, 219, 0.35);
    padding: 15px;
    color: black;
    text-align: start;
    :global(.title > a) {
      text-transform: uppercase;
      font-size: 20px;
    }
    :global(.status) {
      text-transform: none;
      float: right;
    }
    :global(.MuiTypography-h4) {
      font-weight: 800;
      font-size: 24px;
      line-height: 30px;
      color: #303757;
      margin-bottom: 5px;
    }
  }
}
.splittedBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &Item {
    flex: 1 10 10%;
    &:not(:last-child) {
      border-right: 1px solid white;
    }
  }
}
